#profile-image {
    display: flex;

}

#profile {
    display: flex;
    flex-direction: row;
    margin: 0px 25px;
    padding-bottom: 10px;
}

.profile-details-container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

#profile-header {
    display: flex;
    flex-direction: column;
    transition: all 1s;
<<<<<<< HEAD
}
=======
>>>>>>> aee2c24b152608be2c12f45312ab71d028c2805d

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;

}

.social-table {
    display: flex;
    padding-left: 50px;
}

.container-posts {
    margin-top: 10px;
}

.profile-buttons {
    display: flex;
    justify-content: space-evenly;
}

.profile-button {
    width: 40px;
    height: 40px;
}

.profile-display {
    margin: 0px 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
}

.display-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}



<<<<<<< HEAD




=======
/* @media screen and (min-width: 768px){
    #profile-header {
        width: 50%;
    }

    .profile-details-container {
        justify-content: space-evenly;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
   */
>>>>>>> aee2c24b152608be2c12f45312ab71d028c2805d

