#profile-image {
    display: flex;

}

#profile {
    display: flex;
    flex-direction: row;
    margin: 0px 25px;
    padding-bottom: 10px;
}

.profile-details-container {
    margin-left: 10px;
    /* flex-direction: row; */
}

.profile-header {
    display: flex;
    flex-direction: row;
}


.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 10px; */
    padding-top: 10px;

}

.social-table {
    display: flex;
}

/* .user-name {
    font-size: 14px;
} */

.container-posts {
    margin-top: 10px;
}

.profile-buttons {
    display: flex;
    justify-content: space-evenly;
}

.profile-button {
    width: 40px;
    height: 40px;
}



.profile-display {
    margin: 0px 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    /* margin-top: 25px; */
}

.display-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}










body {
    background-color: rgb(160, 160, 160);
    /* margin-top: 80px; */
    margin-bottom: 80px;

}

.test {
    color: black;
}


.container {
    padding-top: 100px;
    padding-bottom: 80px;
}

.container-post-dislikes-count {
    display: flex;
}

.followers-posts-header {
    display: flex;
    justify-content: center;
}

.follower-posts {
    margin-left: 50px;
    margin-right: 50px;
}

.profile-container-followers-followed {
    margin-left: 50px;
    margin-right: 50px;
}