body {
    background-color: rgb(160, 160, 160);
    margin-top: 80px;
}

.test {
    color: black;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.container-post-dislikes-count {
    display: flex;
}