.profile-description-text-box {
    width: 100%;
    resize: none;
}

.users-table-header {
    display: flex;
    justify-content: space-evenly;
}

/* .header {
    margin-right: 25px;
} */

.users-table-content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.profile-container-followers-followed {
    width: 33%;
}

.update-profile-img {
    display: flex;
    flex-direction: column;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.update-profile-img img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;

}

.update-profile-description {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.profile-description-text-box {
    padding: 5px;
}

p {
    font-size: 14px;
    margin-left: 15px;
}
