/* body {
    background-color: rgb(32, 33, 36);
} */

img {
    width: 40px;
    margin-left: 10px;
}

img.jump-shake:hover {
    animation: jump-shake 1s infinite;
}

@keyframes jump-shake {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}