.container-post {
    border: solid rgba(0,0,0,.1);
    border-width: 1px 1px .5px;
    width: 100%;
    padding: 25px;
    /* margin-bottom: -2px; */
}

.container-post-user {
    display: flex;
    align-items: center;

}

.container-post-user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.container-post-content {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;

}

.container-post-likes-dislikes {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.container-post-likes-count {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.hidden {

    filter: blur(5px);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);

    opacity: 1;
}

.jump-shake:hover {
    animation: jump-shake 1s infinite;
}

.container-post-user-details {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.username {
    font-size: 16px;
}

#user-tag {
    margin-left: 20px;
    opacity: 50%;
}

#username-tag {
    text-decoration: none;
    color: black;
}

#username-tag:hover {
    text-decoration: underline;
    text-underline-offset: 2px; 
}

@media screen and (min-width: 768px){
    .container-posts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-post {
        width: 50%; 
    }
  }

/* @keyframes loadIn {
    from {
        opacity: 0;
        translate: -100%;
    }

    to {
        opacity: 1;
        translate: 50%;
    }
} 
*/
