

li {
  transition: 1s;
  font-size: 16px;
  color: white;
}

a {
  text-decoration: none;
}



nav h1 {
  color: white;
}


/* 
.navigation-bar-logo-image {
  height: 40px;
} */

nav {
    background: rgb(44, 44, 44);
    box-shadow: 4px 2px 5px gray;
    height: 150px;
}

nav > div {
  flex: 1;
}

#nav-links-container {
  align-items: center;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#nav-links h1 {
  text-align: center;
}

.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#nav-website-name {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px){
  nav {
      height: min-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;
  }

  /* Add a transition of 1 second back after not hovering */
  li:hover {
    /* font-size: 18px; */
    color: red;
  }
}

