.user-profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#user-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-username {
    padding: 10px 0px;
}

body {
    background-color: rgb(160, 160, 160);
    /* margin-top: 10px; */
}

.page-body-container {
    padding: 20px 0px;
}

.login-logout {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.user-information-logged-in {
    display: flex;
    flex-direction: column;
    align-items: center;

}
